VITE_FIREBASE_API_KEY= "AIzaSyCeXLEVLKL_5PNbarJDWzKsE8w8WDqoSMY"
VITE_FIREBASE_AUTH_DOMAIN= "emoot-my-savings-goal.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID=  "emoot-my-savings-goal"
VITE_FIREBASE_STORAGE_BUCKET= "emoot-my-savings-goal.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "746924331823"
VITE_FIREBASE_APP_ID= "1:746924331823:web:386bb5e580c121889947da"

